/* font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Arabic Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");

:root {
  --primary: #1976d2;
  --secondary: #ff0;
  --whiteColor: #fff;
  --blackColor: #000;
  --textColor: #696973;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.App h1,
.App h2,
.App h3,
.App h4,
.App h5,
.App h6 {
  font-family: "Montserrat", sans-serif;
}
.app-ar {
  font-family: "Noto Kufi Arabic", sans-serif !important;
}
.toggle-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 3px;
  width: 24px;
  cursor: pointer;
}
.toggle-icon li {
  width: 100%;
  height: 2.5px;
  background-color: var(--blackColor);
}
.toggle-icon li:last-child {
  width: 50%;
}
.desktop-menu {
  width: 100%;
  background: var(--primary);
}
.desktop-menu ul {
  display: flex;
  align-items: center;
}
.desktop-menu ul li {
  flex-grow: 1;
  position: relative;
}
.desktop-menu ul li a {
  white-space: nowrap;
  height: 34px;
  padding: 22px 10px;
  text-transform: uppercase;
  font-size: 14.5px;
  line-height: -5px;
  font-weight: 500;
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}
.desktop-menu ul li:hover a {
  background: var(--secondary);
  color: var(--blackColor);
}
.desktop-menu ul li:hover a.whats {
  background: #25d366;
  color: var(--whiteColor);
}
.desktop-menu ul li a .icon {
  padding: 3px;
  background: var(--secondary);
  color: var(--primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.desktop-menu ul li:hover a .icon {
  background: var(--blackColor);
  color: var(--secondary);
}
.desktop-menu ul li .list-menu {
  display: none;
}
.desktop-menu ul li:hover .list-menu {
  display: block;
}
.desktop-menu ul li .list-menu .sub-link .sub-menu {
  display: none;
}
.desktop-menu ul li .list-menu .sub-link:hover .sub-menu {
  display: block;
}
.desktop-menu ul li .list-menu .sub-two-link .sub-two-menu {
  display: none;
}
.desktop-menu ul li .list-menu .sub-two-link:hover .sub-two-menu {
  display: block;
}
.desktop-menu ul li .list-menu .sub-three-link .sub-three-menu {
  display: none;
}
.desktop-menu ul li .list-menu .sub-three-link:hover .sub-three-menu {
  display: block;
}
